$PrimaryBlue100:#2C3878;
$GrayScale50:#333333;
$GrayScaleBlack:#000000;
$GrayScale10:#9C9C9C;
$GrayScaleWhite:#FFFFFF;
$linear-gradient:(0deg, rgba(0, 0, 0, 0.40) 20.17%, rgba(0, 0, 0, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
