@import '../variables.scss';
.about{
    width: 100%;
    padding: 100px 0 20px;
    position: relative;
        &_project {
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 
            text-transform: uppercase;
            width: 100%;
            
            
            
            &::after {
                position: absolute;
                content:'';
                top: 110px;
                right: 450px;
                width: 529px;
                height: 2px;
                background: #000;
                left: 110px;
            }
            &_smaller {
                &::after {
                    position: absolute;
                    content:'';
                    top: 253px;
                    right: 450px;
                    width: 529px;
                    height: 2px;
                    background: #000;
                    left: 150px;
                }
            }
        
        }   

        .about_map {
            margin-top: 25px;
            width: 100%;
        }
        .about {
            position: relative;
            z-index: 0;
        }

        .about_title{
            width:713px;
            height: 144px;
            top: 1240px;
            left:120px;
            color:$GrayScale50;
            line-height: 50,4px;
            font-weight: bold;
            font-size: 36px;;
            margin-top: 20px;

        }

        .about_info {
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 28.8px */
            color: $GrayScale10;
            top: 1430px;
            left: 120px;
            margin-bottom: 98px;
            &_smaller {
                margin-top: -100px;
            }

        }

        
}
.flex_table {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 1200px;
    height: 460px;
    background: $PrimaryBlue100;
 
        .image_box1 {
            margin:55px 0 0 68px;
        }
        .text1 {
            position: absolute;
            margin:81px 0 0 198px ;
        }
        .image_box2 {
            margin: 25px 0 0 68px;
        }
        .text2 {
        position: absolute;
        margin:55px 0 0 198px ;
        }
        .image_box3 {
        margin: 25px 0 0 68px;
         }
         .text3 {
            position: absolute;
            margin:63px 0 0 198px;
         }

         .image_box4{
            margin:55px 0px 0px 30px ;
         }
         .text4 {
            position: absolute;
            margin:81px 125px 0 160px;
         }

         .image_box5{
            margin:25px 0px 0px 30px ;
         }
         .text5 {
            position: absolute;
            margin: 60px 125px 0 160px;
         }
         .text1,.text2,.text3,.text4,.text5 {
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            color: $GrayScaleWhite;
         }
         
}
.block_text{
    margin:85px 0 0 0;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: $GrayScale10;
    margin:85px 193px 0 613px;
    width: 634px;
 }
 .button {
    display: inline-block;
    gap: 10px;
    background: $PrimaryBlue100;
    padding: 18px 30px;
    margin:17px 652px 17px 613px;
    width: 175px;
    height: 49px;
 }

.image_people{
    width: 100vw;
    display: block;
    margin:100px 10px 0 -355px;
}
