@import '../variables.scss';


* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    
 }
 

 footer { 
   background: $PrimaryBlue100;
    margin-top: 136px;
    height: 471px;
    display: block;
    width: 100%;
    
 }
  
 .footer_info {
    position: absolute;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    margin: 77px 744px 204px 0px;

 }
 .footer_logo {
   position: absolute;
   font-weight: 700;
   font-size: 32px;
   line-height: 170%;
   margin-top: 390px;
 }
 .form_footer {
   position: absolute;
   margin-left: 700px;
   margin-top: 100px;
   font-family: Montserrat;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 160%; /* 25.6px */
 }
 .footer_name {
   width: 334px;
   height: 50px;
   flex-shrink: 0;
   border: 1px solid #FFF;
   background: $PrimaryBlue100;
   padding-left: 10px;
 }
 .footer_tel {
   width: 334px;
   height: 50px;
   flex-shrink: 0;
   border: 1px solid #FFF;
   margin-top: 20px;
   background: $PrimaryBlue100;
   padding-left: 10px;
 }
 .footer_btn {
   display: inline-flex;
   padding: 14px 32px;
   align-items: flex-start;
   margin-top: 20px;
   background: $GrayScaleWhite;
 }
 .footer_number {
   position: absolute;
   font-family: Montserrat;
   font-size: 32px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%; /* 48px */
   color: $GrayScaleWhite;
   margin-top: 390px;
   margin-left: 700px;
 }


 @media screen and (max-width:1279px) and (min-width:768px) {
  footer {
    background: $PrimaryBlue100;
    margin-top: 136px;
    height: 724px;
    display: block;
    width: 100%;
  }
  .footer_info {
    position: absolute;
    width: 576px;
    color: var(--Grayscale-White, #FFF);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    margin-top: 121px;
    
  }
  .form_footer {
    position: absolute;
    margin-top: 357px;
    margin-left: 0;
  }
  .footer_logo {
    margin-top: 630px;
  }
  .footer_number {
    margin-left: 385px;
    margin-top: 630px;
  }
 }

 @media screen and (max-width:767px) {

  footer {
    background: $PrimaryBlue100;
    margin-top: 136px;
    height: 724px;
    display: block;
    width: 100%;
  }
  .footer_info {
    position: absolute;
    width: 347px;
    color: var(--Grayscale-White, #FFF);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    margin-top: 108px;
    margin-left: 220px;
    
  }
  .form_footer {
    position: absolute;
    margin-top: 259px;
    margin-left: 210px;
  }
  .footer_number {
    margin-left: 5px;
    margin-top: 570px;
  }
  .footer_logo {
    margin-top: 630px;
    margin-left: 10px;

 }
}