@import '../variables.scss';
    .inf{
        width: 100%;
        padding: 100px 0 20px;
        position: relative;
            &_project {
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
                text-transform: uppercase;
                width: 100%;
                
                &::after {
                    position: absolute;
                    content:'';
                    top: 110px;
                    right: 450px;
                    width: 473px;
                    height: 2px;
                    background: #000;
                    left: 169px;
                }
                &_plans {
                    margin-top: -50px;
                    margin-left: 10px;
                    position: absolute;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; 
                    text-transform: uppercase;
                    width: 100%;
                    

                    &::after {
                        position: absolute;
                        content:'';
                        top: 10px;
                        right: 450px;
                        width: 473px;
                        height: 2px;
                        background: #000;
                        left: 129px;
                    }

                }
            }
            
           
            .inf_title {
                font-family: Montserrat;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                color: $GrayScale50;
                margin-top: 20px;
                margin-left: -3px;
                margin-bottom: 46px;
            }
    }
        .inf_table img {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 20.17%, rgba(0, 0, 0, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
        .grid_table {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            
        
        

        .grid_box1 {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .grid_box2 {
            grid-column-start: 2;
            grid-row-start: 1;
            margin-top: 0;
            margin-left: 10px;
        }
        .grid_box3 {
            grid-column-start: 2;
            grid-row-start: 1;
            margin-left: 310px;
            margin-top: 0;
        }
        .grid_box4 {
            grid-column-start: 1;
            grid-row-end: 3;
            margin-top: -315px;
            margin-left: 10px
        }
        .grid_box5 {
            grid-column-start: 1;
            grid-row-end: 2;
            margin-left: 310px;
            margin-top: 310px;
            
         }
        .grid_box6 {
            grid-column-start: 2;
            grid-row-start: 1;
            margin-left: 310px;
            margin-top: 310px;
        }
        .grid_text1 {
            position: absolute;
            margin:220px 185px 30px 20px;
        }
        .grid_text2 {
            position: absolute;
            margin:500px 37px 32px 20px;
        }
        .grid_text3 {
            position: absolute;
            margin:226px 37px 30px 20px;
        }
        .grid_text4 {
            position: absolute;
            margin:204px 37px 30px 20px;
        }
        .grid_text5 {
            position: absolute;
            margin:204px 37px 30px 20px;
        }
        .grid_text6 {
            position: absolute;
            margin:204px 37px 30px 20px;
        }
        .grid_text1,.grid_text2,.grid_text3,.grid_text4,.grid_text5,.grid_text6 {
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            color: $GrayScaleWhite;
        }
    }
    @media screen and (max-width: 1279px) and (min-width: 768px) {
        .inf{
                 &_project {
                        position: absolute;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; 
                        text-transform: uppercase;
                        width: 100%;
                        margin-top: 220px;
                        
                        &::after {
                            position: absolute;
                            content:'';
                            top: 10px;
                            right: 450px;
                            width: 473px;
                            height: 2px;
                            background: #000;
                            left: 169px;
                        }
                        &_plans {
                            margin-top: -50px;
                            margin-left: 10px;
                            position: absolute;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px; 
                            text-transform: uppercase;
                            width: 100%;
                            

                            &::after {
                                position: absolute;
                                content:'';
                                top: 10px;
                                right: 450px;
                                width: 473px;
                                height: 2px;
                                background: #000;
                                left: 129px;
                            }

                        }
                        &_smaller {
                            margin-top: 25px;
                        }
                    }
                .inf_title{
                    color: var(--Grayscale-50, #333);
                    font-family: Montserrat;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%;
                    margin-top: 100px;
                
                    &_smaller {
                        margin-top: 300px;
                    }
                }
        }
        
        .grid_table {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .grid_box2 {
                grid-column-start: 1;
                grid-row-start: 2;
                margin-top: 5px;
                margin-left: 10px;
            }
            .grid_box3 {
                grid-column-start: 1;
                grid-row-start: 2;
                margin-top: 5px;
                margin-left: 310px;
            }
            .grid_box4 {
                margin-top: -305px;
                margin-left: 10px;
            }
            .grid_box6 {
                grid-column-start: 1;
                grid-row-start: 2;
                margin-top: 315px;
                margin-left: 310px
            }
        }
        
    }
    @media screen and (max-width: 767px) {
        .grid_table {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:repeat(2,1fr);
            
            .grid_box2 {
                grid-column-start: 1;
                grid-row-start: 3;
                margin-top: -295px;
                margin-left: 1px;

            }
            .grid_box3 {
                grid-column-start: 1;
                grid-row-start: 3;
                margin-top: 330px;
                margin-left:0px;
            }

            .grid_box4 {
                grid-column-start: 1;
                grid-row-end: 2;
                margin-top: 315px;
                margin-left: 1px;
            }
            .grid_box5 {
                grid-column-start: 1;
                grid-row-start: 2;
                margin-top: 10px;
                margin-left: 1px;
            }
            .grid_box6 {
                grid-column-start: 1;
                grid-row-start: 4;
                margin-top: 10px;
                margin-left: 1px;
            }

            .grid_image1 {
                width: 343px;
                height: 300px;
            }
            .grid_image2 {
                width: 343px;
                height: 610px;
            }
            .grid_image3 {
                width: 343px;
                height: 300px;
            }
            .grid_image4 {
                width: 343px;
                height: 300px;
            }
            .grid_image5 {
                width: 343px;
                height: 300px;
            }
            .grid_image6 {
                width: 343px;
                height: 300px;
            }
           
        }

        .inf{
            &_project {
                   position: absolute;
                   font-family: Montserrat;
                   font-size: 16px;
                   font-style: normal;
                   font-weight: 500;
                   line-height: 24px; 
                   text-transform: uppercase;
                   width: 100%;
                   margin-top: -31px;
                   
                   &::after {
                       position: absolute;
                       content:'';
                       top: 10px;
                       right: 450px;
                       width: 222px;
                       height: 2px;
                       background: #000;
                       left: 169px;
                   }
                   &_plans {
                    margin-top: -20px;
                    margin-left: 6px;
                    position: absolute;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; 
                    text-transform: uppercase;
                    width: 100%;

                       &::after {
                           position: absolute;
                           content:'';
                           top: 10px;
                           right: 450px;
                           width: 247px;
                           height: 2px;
                           background: #000;
                           left: 129px;
                       }

                   }
               }
               
            }
    }






    