@import '../variables.scss';


.block_text_plans {
    margin-top: 0;
    margin-left: 0;
}
.plans_table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px ;

.plans_box4 {
    margin-top: 285px;
    margin-left: -4px;
}
.plans_box5 {
    margin-top: 285px;
    margin-left: -4px;
}
.plans_box6 {
    margin-top: -310px;
}
.plans_text1 {
    position: absolute;
    margin: 411px 48px 53px -3px;
    
}
.span_plans {
    position: absolute;
    margin-top: 10px;
    margin-left: -1px;    
}
.plans_text2 {
    position: absolute;
    margin:406px 37px 32px 1px;
}
.plans_text3 {
    position: absolute;
    margin: 411px 48px 53px 0px;
}
.plans_text4 {
    position: absolute;
    margin: 411px 48px 53px -3px;
}
.plans_text5 {
    position: absolute;
    margin: 411px 48px 53px -3px;
}

.plans_text1,.plans_text2,.plans_text3,.plans_text4,.plans_text5 {
    color:#9C9C9C;
    font-family: Montserrat;
    font-size: 18x;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    text-transform: uppercase;
}
.btn_plans {
    position: absolute;
    background: $PrimaryBlue100;
    border: none;
    display: inline-flex;
    padding: 14px 34px 14px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 550px;
    margin-left: -378px;
}
.btn_plans1,.btn_plans4 {
    position: absolute;
    background: $PrimaryBlue100;
    border: none;
    display: inline-flex;
    padding: 14px 34px 14px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 550px;
    margin-left: -384px;
}
}
.image_people_plans{
    width: 100%;
    display: block;
    margin:450px 10px 0 -10px;
}




@media screen and (max-width:1279px) and (min-width: 768px) {
    .plans_block {
        .plans_table {
            .plans_box3 {
                margin-top: 281px;
                margin-left: -3px;
                grid-column-start: 1;
                grid-row-start: 3;
            }
            
            .plans_box4 {
                grid-column-start: 2;
                grid-row-start: 2;
            }
            .plans_box5 {
                grid-row-start: 2;
                grid-column-start: 1;
                margin-top: 285px;
            }
        }
    }

    .info_block {
        
        color: var(--Grayscale-10, #9C9C9C);
        /* Montserrat/Regular/18 */
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        margin-top: 62px;
        margin-left: 10px;
    }
    
}

@media screen and (max-width:767px) {
    

    .plans_block {
        .plans_table {
            margin-top: 40px;
            .plans_box2 {
                grid-column-end: 1;
                grid-row-start: 2;
                margin-top: 310px;
                margin-left: 1px;
            }
            .plans_box3 {
                grid-column-end: 1;
                grid-row-start: 3;
                margin-top: 310px;
            }
            .plans_box4 {
                grid-column-end: 1;
                grid-row-start: 4;
                margin-top: 310px;
                margin-left: 1px;

            }
            .plans_box5 {
                grid-column-end: 1;
                grid-row-start: 5;
                margin-top: 310px;
            }
        }
    }
    .block_text_plans {
        margin-left: 610px;
        margin-top: 49px;
    }
    

}